!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/sencha-touch.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/sencha-touch.js')
    script(src='/javascripts/app.js')
  body!= body
